.mini_tabulation
{
text-indent:10px;
}
.label_article{

text-decoration: none;
	font-size: 1.8em;
	display: inline-block;
	color: rgb(171,22,5);
}
.label_article2{

text-decoration: none;
	font-size: 2.2em;
	display: inline-block;
	color: rgb(0,0,0);
}

.lien
{
	text-decoration: none;
	font-size: 1.2em;
	display: inline-block;
	color: rgb(77,77,77);
	
}
.linkButton{
	background: none;
	border:none;
	color:#428BCA;
	text-decoration: underline;
	cursor:pointer;
}
.lien:hover
{

	
	display: inline-block;
	color: rgb(77,77,77);
}
.Acceuil:hover
{
	text-decoration: none;
	display: inline-block;
	color: rgb(171,22,5);
}
.logo{

	display: inline-block;
}
.texte{
	text-align: center;
}
.glyphicon {

    font-size: 35px;
}
.sous_menu_icon{
	font-size: 13px;

}
.Acceuil
{
	color: rgb(255,0,0);
	display: inline-block;
}
.tabulation
{
text-indent:30px;
}

h4{
	font-size:25px;
}
h3{
	font-size: 50px;
}

.principal{
    width: 50%;
    min-height: 70%;
}
@media (min-width: 770px){
	.abonnes_principal{
		padding-bottom: 50px;
	}
	.articles_principal{
		margin-top: 30%;
		margin-bottom: 20%;
	}
	.zone_grise_gauche{
		margin-left: 5%;
		margin-right: 2.5%;
	}
	.zone_grise_droite{
		margin-right: 3%;
		margin-left: 2.5%;
	}
	.afficher_article{
	
	font-size: 20px;
	margin: 4px;
}
.icon_in_button
{
	font-size: 20px;
	margin-right: 20px;
}
.icon_in_button_small{
	font-size: 13px;
	margin-right: 2px;
}
.bouton-afficher-abonne {
	    background-color: #5bc0de;
    text-align:center;
    margin-left: 5%;
    margin-right: 3%;
}
.bouton-ajouter-abonne {
	    background-color: #5bc0de;
    text-align:center;
    margin-left: 3%;
    margin-right: 5%;
}
.bouton-afficher-abonne-f{
	margin-bottom: 30%;
}
.bouton-afficher-abonne-f{
	margin-bottom: 10%;
}
.well_titre{
font-size: 45px;
margin-bottom:70px;
}
.well_titre_2{
font-size: 45px;
margin-bottom:20px;
}
}

@media (max-width: 769px){
.principal {

    width: 100%;

}

.icon_in_button
{
	font-size: 10px;
	margin-right: 2px;
}
.icon_in_button_small{
	font-size: 15px;
	margin-right: 2px;
}
.bouton-afficher-abonne {
	    background-color: #5bc0de;
    text-align:center;
    margin-bottom: 5%;
}
.bouton-ajouter-abonne {
	    background-color: #5bc0de;
    text-align:center;
    
}
.bouton-afficher-abonne-f{
	margin-bottom: 5%;
}
.well_titre{
font-size: 170%;
margin-bottom:70px;
}
}

.well_titre_2{
font-size: 34px;
margin-bottom:20px;
}
.centrer{
	text-align:center;
}
.bouton-ajout-acceuil {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}
.bouton-modifier-acceuil {
    color: #333;
    background-color: #7FCAE0;
    border-color: #ccc;
}
.bouton-rechercher-acceuil {
    color: #333;
    background-color: #83C583;
    border-color: #ccc;
}
.bouton-supprimer-acceuil {
    color: #333;
    background-color: #E05956;
    border-color: #ccc;
}
.bouton-afficher-acceuil {
    color: #333;
    background-color: #F1BD73;
    border-color: #ccc;
    text-align:center;
    margin-left: 8.2%;
}


